.student {
    width: 250px;
    padding: 10px;
    margin: 50px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
    text-align: center;

}

.student:hover {
    background-color: rgba(0,172,193,0.3);
    cursor: pointer;
    transition: 0.5s;
}

.avatar {
    border-radius: 50%
}
