.text-center {
    text-align: center;
}

.row {
    margin: 5px;
    display: flex;
}

input {
    flex: 1;
}


.btn {
    cursor: pointer;
    margin: 10px;
    border: 0;
    background: #e0e0e0;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    min-height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 14px;
    position: relative;
    text-decoration: none;
    transition: all .2s ease-out;
}

.primary {
    background: #0078e7;
    color: #fff;
}

.secondary {
    background: rgb(66, 184, 221);
    color: #fff;
}

.danger {
    background: rgb(202, 60, 60);
    color: #fff;
}
